<h1>Login</h1>
<form method="POST" action="/api/sessions/login">
  <p><label for="email">Email</label>
    <input type="email" name="email" required /></p>
  <p><label for="password">Password</label>
    <input type="password" name="password" required /></p>
  <button type="submit">Login</button></form>

<a href="/register"><button>Registrate</button></a><a href="/"><button>Volver al
    inicio</button></a>